.main-text{
    text-align: center;

    &__title,&__paragraph{
        color: white;
    }

    &__paragraph{
        line-height: 25px;
    }
}

@media screen and (min-width:1024px){
    .main-text{
        text-align: left;

        &__title{
            font-size: 3em;
        }
    }
}